.venv
.idea
/backend/.env
/backend/celerybeat-schedule
/backend/app/static/uploads
/frontend/node_modules/
/frontend/.env
/frontend/dist
/backend/celerybeat-schedule.db
/backend/app/templates/.j2cache/*
!/backend/app/templates/.j2cache/readme.txt
/backend/static/