Hi Hikers,

Thank you to all who came to the meeting yesterday!

This Saturday, we will be hiking {{ hike_trail_name }} which is in {{ hike_town_name }}. The hike is around {{ hike_length_mi }} miles and should take around {{ hike_estimated_time_hr }} hours to complete. This hike is classified as {{ hike_difficulty }}.

Important: We strongly advise bringing enough water for this hike. The general rule is to have a liter of water for every two hours, so for this hike, we recommend you to have {{ num_liters }} {% if num_liters == 1 %} liter {% else %} liters {% endif %} of water. For this hike, we will be checking that you at least have some water with you. If you do not have any water, we will ask you to buy water at Target or you will not be allowed to come on the hike. This is for your safety so that we don't run into any issues with dehydration/heat exhaustion with warmer weather.

More information about the hike can be found here, which is also where you can sign up: {{ magic_url }}

We prioritize based on how many of the last two hikes you've attended. Members who haven't attended either will get priority, followed by those who attended one hike, and lastly by those who attended both hikes. After that, we look at when the form was submitted (first come, first serve). Drivers are highly appreciated and are guaranteed to be selected, as well as being entered into an end-of-the-quarter raffle!

We plan to alternate between easy/moderate and moderate/difficult hikes, so that you'll get a better idea of what to expect each weekend. Our avid hikers can look forward to the more challenging hikes every other weekend, while the more tame hikes will occur on the weekends between.

The form will be closed on Thursday evening at 11:59 PM. If you are selected to go on the hike, you will receive a confirmation email Friday night with a waiver that needs to be signed and submitted electronically before Saturday morning.

If you have any questions, please let us know!
Best,
Hiking Club at UCI Officers
Official UCI Campus Page: Hiking Club at UCI Campus Orgs
Email: hikingclub@uci.edu
Linktree: linktr.ee/hikingclubatuci
Instagram: @hikingclubatucirvine
Discord: discord.gg/tGwU6HeBYv