<article
        style="max-width: 800px; margin: 0 auto; color: #111; background: #fff; font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji','Segoe UI Emoji'; line-height: 1.5; font-size: 16px;">
    <section style="padding: 0;">
        <p><strong>Participant’s Name (Type First and Last Name):</strong> <div id="print-name-slot"></div></p>
        <div class="text-center">
            <p><strong>UNIVERSITY OF CALIFORNIA AT IRVINE REGISTERED/RECOGNIZED STUDENT or CAMPUS ORGANIZATION (RSO)/(RCO) NAME of RSO/RCO:</strong> Hiking Club at UCI</p>

            <p><strong>PARTICIPANT SPORTING EVENT DESCRIPTION:</strong> {{ event_description }}</p>

            <p><strong>SPORTING EVENT DATE:</strong> {{ event_date }}</p>
        </div>

        <h2 style="font-weight:700; margin-top: 1.25rem;">Waiver of Liability, Assumption of Risk, and Indemnity
            Agreement</h2>

        <p style="margin-top: .75rem;"><strong>Waiver:</strong> In consideration of permission to participate in the
            sporting event noted above, on and off campus, as a member of <strong>Hiking Club at
            UCI, I,</strong> for myself, my heirs, personal representatives or assigns, <strong>do hereby release, waive, discharge, and
            covenant not to sue</strong> The Regents
            of the University of California, its directors, officers, employees, agents, and <strong>Hiking Club at UCI</strong> and its
            officers and members from liability
            <strong>from any and all claims including the negligence of The Regents of the University of California and Hiking
            Club at UCI</strong> resulting in
            personal injury, accidents or illnesses (including death), and property loss arising from, but not limited
            to, participation in activities, classes,
            observation, and use of facilities, premises, or equipment.</p>

        <div id="esign-slot-1"></div>

        <p style="margin-top: .75rem;"><strong>Assumption of Risks:</strong> Physical activity, outdoors or indoors, by
            its very nature, carries with it certain inherent risks that cannot be
            eliminated regardless of the care taken to avoid injuries. <strong>Hiking Club at UCI</strong> may use facilities, venues, or
            public outdoor spaces and
            make available activities such as sporting activities and league sports, classes, runs and races, outdoor
            adventures, community services,
            recitals and trips. Some of these involve strenuous exertions of strength using various muscle groups, some
            involve quick movements
            involving speed and change of direction, and others involve sustained physical activity which places stress
            on the cardiovascular
            system. The specific risks vary from one activity to another, but the risks range from 1) minor injuries
            such as scratches, bruises,
            sprains, 2) major injuries such as eye injury or loss of sight, joint or back injuries, heart attacks and
            concussions, and 3) catastrophic
            injuries including paralysis and death.</p>

        <p style="margin-top: .75rem;"><strong>I have read the previous paragraphs and I know, understand, and appreciate these
            and other risks that are inherent</strong> in the
            activities made possible by <strong>Hiking Club at UCI.</strong> I hereby assert that <strong>my participation is voluntary and that
            I knowingly assume
            all such risks.</strong></p>

        <p style="margin-top: .75rem;"><strong>Indemnification and Hold Harmless:</strong> I also agree to INDEMNIFY AND
            HOLD The Regents of the University of California and
            <strong>Hiking Club at UCI.</strong> and its officers and members HARMLESS from any and all claims, actions, suits,
            procedures, costs, expenses,
            damages and liabilities, including attorney’s fees brought as a result of my involvement in activities of
            <strong>Hiking Club at UCI.</strong> and to
            reimburse them for any such expenses incurred.</p>

        <p style="margin-top: .75rem;"><strong>Severability:</strong> The undersigned further expressly agrees that the
            foregoing waiver and assumption of risks agreement is intended to be as
            broad and inclusive as is permitted by the law of the State of California and that if any portion thereof is
            held invalid, it is agreed that the
            balance shall, notwithstanding, continue in full legal force and effect.</p>

        <p style="margin-top: .75rem;"><strong>Acknowledgment of Understanding:</strong> I have read this waiver of
            liability, assumption of risk, and indemnity agreement, fully
            <strong>understand its terms, and understand that I am giving up substantial rights, including my right to sue.</strong> I
            acknowledge that I am
            signing the agreement freely and voluntarily, and <strong>intend by my signature to be a complete and unconditional
            release of all liability</strong>
            to the greatest extent allowed by law.</p>

        <div id="esign-slot-2"></div>

        <div id="age-input-slot"></div>
    </section>
</article>
