{% macro email(personalization, batch) -%}
Hi {{ personalization.name }},

This {{ batch.hike_day }} at {{ batch.hike_time }} we will be hiking {{ batch.hike_trail_name }} which is in {{ batch.hike_town_name }}. The hike is around {{ batch.hike_length_mi }} miles and should take around {{ batch.hike_estimated_time_hr }} hours to complete. This hike is classified as {{ batch.hike_difficulty }}.
{% if batch.description %}
Important: {{ batch.description }}
{% endif %}
We strongly advise bringing enough water for this hike. The general rule is to have a liter of water for every two hours, so for this hike, we recommend you to have {{ batch.num_liters }} {% if batch.num_liters == 1 %} liter {% else %} liters {% endif %} of water. For this hike, we will be checking that you at least have some water with you. If you do not have any water, we will ask you to buy water at Target or you will not be allowed to come on the hike. This is for your safety so that we don't run into any issues with dehydration/heat exhaustion with warmer weather.

We prioritize based on how many of the last two hikes you've attended. Members who haven't attended either will get priority, followed by those who attended one hike, and lastly by those who attended both hikes. After that, we look at when the form was submitted (first come, first serve). Self-transports are guaranteed to be selected. Drivers are highly appreciated and are also guaranteed to be selected, as well as being entered into an end-of-the-quarter raffle!

More information about the hike can be found in the link below, which is also where you can sign up.

You can use this link to sign up, make edits to, or cancel your signup status for this hike.

{{ personalization.magic_url }}

The link will expire at the cutoff time of {{ batch.signup_expiry_date }}. If you’re selected, you’ll receive a confirmation email at that time with a waiver to sign and submit electronically before the hike.

If you have any questions, please let us know!
Best,
Hiking Club at UCI Officers
Official UCI Campus Page: Hiking Club at UCI Campus Orgs
Email: hikingclub@uci.edu
Linktree: linktr.ee/hikingclubatuci
Instagram: @hikingclubatucirvine
Discord: discord.gg/tGwU6HeBYv
{%- endmacro %}